@import 'bootstrap/scss/bootstrap'

$clip-start: 80%

*
  box-sizing: border-box

body
  font-family: Inter, sans-serif
  color: #252B42

h1, h2, h3, h4, h5, h6
  margin: 0

a
  text-decoration: none

.section-title
  font-size: 48px
  font-weight: 700
  margin: 77px 0 100px

.cta-bar
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: black
  position: fixed
  z-index: 1
  padding: 0 85px 15px
  width: 582px
  background: rgba(255,255,255,0.6)
  backdrop-filter: saturate(180%) blur(20px)
  margin-left: 50%
  transform: translateX(-50%)
  border-bottom-left-radius: 35px
  border-bottom-right-radius: 35px

  @media (max-width: 768px)
    position: absolute
    top: 0
    left: 0
    translate: transformX(-50%)

  .title
    font-weight: 400
    line-height: 40px
    font-size: 20px

  button
    margin-left: 26px
    color: white
    background: #222B32
    border-radius: 100px
    padding: 16px 43px
    border: none
    outline: none
    font-size: 20px
    line-height: 20px

    .price
      margin-right: 30px

.hero
  background-image: url('../assets/bg-hero.jpg')
  background-size: cover
  background-position: bottom -150px right 50%
  height: 74vh
  clip-path: polygon(0% 0%, 0% $clip-start, 50% 100%, 100% $clip-start, 100% 0%)
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  text-align: center
  color: white

  @media (max-width: 768px)
    height: 80vh
    background-position: bottom
    padding-top: 100px

  h1
    font-size: 74px
    font-weight: 700px
    margin: 20px 0 15px

    @media (max-width: 768px)
      font-size: 48px

  h2
    font-size: 20px
    font-weight: 400
    line-height: 40px

    @media (max-width: 768px)
      font-size: 12px
      line-height: 20px

    u
      font-size: 50px
      font-weight: 600
      @media (max-width: 768px)
        font-size: 32px

  .logo-wrapper
    margin-top: 100px

    @media (max-width: 768px)
      margin-top: 50px

  .name
    font-size: 11.65px
    font-weight: 700
    font-family: "SF UI Text", Inter, sans-serif
    @media (max-width: 768px)
      margin-bottom: 40px

  .logo
    width: 88px
    height: 69px

    img
      height: 100%
      width: 100%

.testimonials
  padding: 63px 0
  line-height: 55px

  .message
    font-size: 30px

  .author
    color: #7879F1
    font-size: 24px

.course-parts .content
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 1920px
  padding: 0 122px
  gap: 173px 60px
  flex-wrap: wrap
  color: #374754
  margin-bottom: 70px

  @media (screen and max-width: 1150px)
    justify-content: center
    padding: 0
    gap: 100px

  .description-wrapper
    padding: 20px

  .part
    position: relative
    border: 6px solid #252B42
    border-radius: 40px
    width: 434px
    padding: 0

    @media (max-width: 768px)
      border-width: 4px
      width: 80%

    .img-wrapper
      border-top-left-radius: 35px
      border-top-right-radius: 35px
      overflow: hidden

    img
      width: 105%

  .day
    position: absolute
    top: 0
    left: 0
    transform: translate(-50%, -50%)
    color: white
    background: #252B42
    border-radius: 50%
    height: 93px
    width: 93px
    display: grid
    place-items: center
    font-size: 24px
    font-weight: 600

    @media (max-width: 768px)
      height: 60px
      width: 60px
      font-size: 18px

  .title
    font-size: 24px
    font-weight: 700
    margin-bottom: 20px

  .description
    font-size: 18px
    font-weight: 500

.preview
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin-bottom: 100px

  h3
    @media (max-width: 768px)
      margin: 20px 0 26px
  h4
    font-size: 48px
    margin: 77px 0 100px
    font-weight: 700

    @media (max-width: 768px)
      margin: 50px 0 65px

  .section-description
    line-height: 55px
    text-align: center

    @media screen and ( max-width: 768px )
      line-height: 40px

  p
    font-size: 30px
    max-width: calc(100vw - 400px)
    line-height: 55px

    @media screen and ( max-width: 768px )
      max-width: 95%
      font-size: 20px
      line-height: 40px

  .banner
    margin: 45px auto
    max-width: 1100px
    width: 100%
    display: grid
    place-items: center
    position: relative
    padding: 0 20px

    iframe
      aspect-ratio: 16/9
      width: 100%

    .img-wrapper
      img
        width: 100%

    .icon
      height: 187px
      width: 187px
      background: #2091F9
      border-radius: 50%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      display: grid
      place-items: center
      cursor: pointer

      @media (max-width: 1200px)
        height: 120px
        width: 120px

      @media (max-width: 768px)
        height: 80px
        width: 80px

    .triangle
      fill: white

.socials
  display: flex
  gap: 72px
  flex-wrap: wrap
  justify-content: center
  align-items: center
  margin-bottom: 300px

  .social
    background: #3E454C
    height: 99px
    width: 334px
    border-radius: 13px
    color: white
    font-weight: 600
    font-size: 20px
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 0 30px
    gap: 20px
